section>h1{
    text-align: center;
}
#grille{ 
    display:grid;
}
.mur{
   background-color:#3D2BFF ; 
}
.sol{
    background-color:#383D80;
}
.bonbon{
    background-image:url(../img/bonbon.gif) ;
}