section>h1{
    text-align: center;
}
#grille{ 
    display:grid;
}
.mur{
   background-color:#3D2BFF ; 
}
.sol{
    background-color:#000;
}
.bonbon{
    background-image:url(../img/bonbon.gif);
}
.pacman{
    background-image: url(../img/pacman4.gif);
    z-index: 2;
}